/*==========  Desktop First Method  ==========*/
// @media and (max-width: 655px){
	
// }

/*==========  Desktop First Method  ==========*/
@media (min-width: 0px) and (max-width: 655px){
	section#nav {
	min-height: 55px;
	.logo {
		display: block;
	}
	.navigation {
		display: none;
	}
	.menu-link {
		display: block;
		margin-top: -10px;
	}
  }
}
@media (min-width: 656px) and (max-width: 1920px) {
	.menu {
		display: none !important;
	}
}