///////////FONTS/////////////////////////////
.regular {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.italic {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: italic;
}
.bold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.semibold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.champ {
	font-family:'Champagne & Limousines Bold';
	font-weight:normal;
}
.proxi {
	font-family: 'ProximaNova-Extrabld';
	font-weight: normal;
}

.script {
	font-family: 'Freestyle Script Normal', arial;
	font-weight: normal;
}

////////////////section nav /////////////
	section#nav {
	min-height: 100px;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
		.wrapper {
		display: flex;
		justify-content: space-between;
	}
	.logo {
		a {
			text-decoration: none;
		}
		margin-top: 10px;
		p {
			text-align: center;
			color:  #5363db;
			font-size: 2.4rem;
			.champ;
		}
	}
	.navigation {
		ul li {
			list-style-type: none;
			display: inline-block;
			padding: 20px;
			padding-top: 37px;
		}
		a {
			color:  #555555;
			font-size: 1.4rem;
			.semibold;
			text-decoration: none;
			&:hover {
				transition: 0.3s;
				color:  #5363db;
				&:after {
				content: "";
				background-color: #5363db;;
				display: block;
				width: 2.5rem;
				height: 1px;
				margin: 2px auto;
				transition: 0.3s;
			  }
			}
		}
	}
.menu-link {
	z-index: 9;
	width: 50px;
	height: 50px;
	display: none;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
	position: fixed;
	right: 20px;
	top: 30px;
	span, span:before, span:after {
		display: block;
		height: 2px;
		width: 18px;
		right: 50%;
		margin-right: -9px;
		background-color: #333;
		position: absolute;
		top: 50%;
		margin-top: -1px;
	}
	span:before {
		transition: all 0.2s;
		content: '';
		margin-top: -6px;
	}
	span:after {
		transition: all 0.2s;
		content: '';
		margin-top: 4px;
	}
}
.menu-link_active span{
	background-color: transparent;
	&:before {
		margin-top: 0;
		transform: rotate(135deg);
	}
	&:after {
		margin-top: 0;
		transform: rotate(-135deg);
	}
}
.menu {
	opacity: 0.9;
	z-index: 99;
	height: 100vh;
	width: 100vw;
	position: fixed;
	background-color: #7885e4;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	right: -100vw;
	transition: all 0.4s;
	&-active {
		right: 0;
	}
	ul {
		text-align: center;
		list-style: none;
		li {
			width: 100%;
		}
		a {
		font-size: 1.5rem;
		.bold;
		text-decoration: none;
		display: block;
		width: 110vw;
		font-weight: 100;
		letter-spacing: 4px;
		line-height: 4;
		color: #fff;
		transition: all 0.2s;
		&:hover {
			transition: all 0.2s;
			background-color:rgba(255, 255, 255, .4);
		}
	}
   }
  }
}
////////SECTION HEADER/////////////////
header {
	position: relative;
  	z-index: 5;
	height: 96vh;
	min-height: 600px;
	background-repeat: no-repeat;
	background-position: center;
	.wrap {
	  position: absolute;
	  z-index: -1;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background: #5465de;
	  background-position: center;
	  opacity: 0.7;
	  width: 100%;
	  height: 100%;
	}
	.header-inf {
		.row-flex();
	}
	.send-form {
	  .col();
	  .size(4);
	  background-color: #fff;
	  position: relative;
	  top: 100px;
	  width: 30rem;
	  height: 39rem;
	  border-radius: 20px;
	  background-color:  #ffffff;
	  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);
	  h3 {
	  	margin-left: 2rem;
	  	padding-top: 3rem;
	  	color:  #5363db;
		font-size: 2.564rem;
		.semibold;
	  }
	  input {
	  	margin-left: 2rem;
	  	outline: none;
	  	margin-top: 1rem;
	  	padding-left: 1rem;
	  	border-radius: 8px;
		background-color:  #f2f2f2;
		width: 23rem;
		height: 5rem;
		border: none;
		font-family: OpenSans;
		color:  #888888;
		font-size: 1.4rem;
	  }
	  input:focus:required:invalid {
		  border: 1px solid red;
		}
		input:focus:valid {border-color: 1px solid green;}
	  select {
	  	margin-left: 2rem;
	  	cursor: pointer;
	  	outline: none;
	  	margin-top: 1rem;
	  	padding-left: 1rem;
	  	border-radius: 8px;
		background-color:  #f2f2f2;
		width: 24rem;
		height: 5rem;
		border: none;
		font-family: OpenSans;
		color:  #888888;
		font-size: 1.4rem;
	  }
	  .btn {
	  	margin-top: 4rem;
	  	margin-left: 9rem;
	  }
	}
	.inf {
		.col();
	  	.size(8);
	  	.size-sm(12);
	  	margin-left: 10rem;
	  	width: 48.5rem;
		position: relative;
		top: 160px;
		h1 {
			color:  #ffffff;
			font-size: 4.8rem;
			.bold;
			text-transform: uppercase;
		}
		p {
			margin-top: 30px;
			.script;
			font-size: 4rem;
			color: #fff;
			width: 30.8rem;
		}
	}
}


