/*==========  Desktop First Method  ==========*/
// @media and (max-width: 655px){
	
// }

/*==========  Desktop First Method  ==========*/
@media (min-width: 0px) and (max-width: 655px){
	section#nav {
	min-height: 55px;
	.logo {
		display: block;
	}
	.navigation {
		display: none;
	}
	.nav_min {
		position: absolute;
		display: none;
		text-align: center;
		ul li {
			padding-top: 10px;
		}
			a {
			color:  #555555;
			font-size: 1.4rem;
			.semibold;
			text-decoration: none;
			&:hover {
				transition: 0.3s;
				background-color:  #5363db;
			}
		}
	}
  }
}
