/*==========  Desktop First Method  ==========*/
@media (min-width: 0px) and (max-width: 480px){
	html {
		font-size: 8px;
	}
	section#main {
		height: 1600px;
	.main {
		&-item {
			width: 90%;
			img {
				margin: 0 auto;
				display: block;
				width: 60%;
				height: 25rem;
			}

			.inf {
				text-align: center;
				margin-left: 3rem;
				margin: 0 auto;
				width: 60%;
				span {
					margin-bottom: 20px;
				}
			}
		}
	}
}
section#portfolio {
		.item {
			width: 50%;
		}
	}
}//media
@media (min-width:481px) and (max-width:720px){
	html {
		font-size: 8px;
	}
	section#main {
		height: 1550px;
	.main {
		&-item {
			margin: 10px auto;
			width: 80%;
			img {
				margin: 0 auto;
				display: block;
				width: 42%;
				height: 25rem;
			}

			.inf {
				text-align: center;
				margin-left: 3rem;
				margin: 0 auto;
				width: 60%;
				span {
					margin-bottom: 20px;
				}
			}
		}
	}
}
section#portfolio {
		.item {
			width: 50%;
		}
	}
}///media
@media (min-width:721px) and (max-width:991px){
	html {
		font-size: 8px;
	}
	section#main {
		height: 1150px;
	.main {
		&-item {
			img {
				margin: 0 auto;
				display: block;
				width: 80%;
				height: 40rem;
			}

			.inf {
				margin-left: 5rem;
				width: 80%;
				span {
					margin-bottom: 20px;
				}
			}
		}
	}
}
section#portfolio {
		.item {
			width: 50%;
		}
	}
}//media

@media (min-width: 992px) and (max-width: 1199px){
		html {
		font-size: 8px;
	}
	section#main {
		min-height: 700px !important;
	}
	section#portfolio {
		.item {
			width: 33%;
		}
	}
}