/*==========  Desktop First Method  ==========*/
@media (min-width: 0px) and (max-width: 480px){
	html {
		font-size: 8px;
	}
	section#main {
	.main {
		&-item {
			width: 90%;
			img {
				margin: 0 auto;
				display: block;
				width: 60%;
				height: 25rem;
			}

			.inf {
				text-align: center;
				margin-left: 3rem;
				margin: 0 auto;
				width: 60%;
				span {
					margin-bottom: 20px;
				}
			}
		}
	}
}
}
@media (min-width:481px) and (max-width:720px){
	html {
		font-size: 8px;
	}
	section#main {
	.main {
		&-item {
			margin: 20px auto;
			width: 90%;
			img {
				margin: 0 auto;
				display: block;
				width: 50%;
				height: 30rem;
			}

			.inf {
				text-align: center;
				margin-left: 3rem;
				margin: 0 auto;
				width: 60%;
				span {
					margin-bottom: 20px;
				}
			}
		}
	}
}
}///media
@media (min-width:721px) and (max-width:991px){
	html {
		font-size: 8px;
	}
	section#main {
	.main {
		&-item {
			img {
				margin: 0 auto;
				display: block;
				width: 90%;
				height: 40rem;
			}

			.inf {
				margin-left: 3rem;
				width: 80%;
				span {
					margin-bottom: 20px;
				}
			}
		}
	}
}
}//media

@media (min-width: 992px) and (max-width: 1199px){
		html {
		font-size: 8px;
	}
}
@media (min-width: 1200px) and (max-width: 1600px){
}
@media (min-width: 1601px) {
}