@import "smart-grid.less";
@import "header.less";
@import "media.less";
@import "header_media.less";

.reset();

.wrapper{
    .wrapper();
}

html {
	font-size: 10px;
}

.btn {
	border: none;
	border-radius: 8px;
	background-color:  #5b6ceb;
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
	width: 17rem;
	height: 5rem;
	color: #fff;
	font-size: 1.6rem;
	.bold;
}





