@import "smart-grid.less";
@import "header.less";
@import "media.less";
@import "header_media.less";
/////////////COSTUME OPTION /////////
.reset();
.wrapper{
    .wrapper();
}
html {
	font-size: 10px;
}
.btn {
	border: none;
	border-radius: 8px;
	background-color:  #5b6ceb;
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
	width: 17rem;
	height: 5rem;
	color: #fff;
	font-size: 1.6rem;
	.bold;
}

// Section main//////////////
section#main {
	height: 100vh;
	min-height: 800px;
	.wrapper {
		max-width: 1280px;
	}
	.main-txt {
		margin: 100px auto;
		margin-bottom: 30px;
		text-align: center;
		h2 {
			color:  #5b6ceb;
			font-size: 3rem;
			.bold;
			text-transform: uppercase;
		}
		p {
			margin-top: 10px;
			color:  #777777;
			font-size: 4.099rem;
			.script;
		}
	}
	.main {
		&-block {
			.row-flex();
		}
		&-item {
			display: flex;
			flex-wrap: wrap;
			position: relative;
			margin-top: 20px;
			.col();
			.size(6);
			.size-sm(12);
			border-radius: 8px;
			background-color:  #ffffff;
			box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
			img {
				width: 23rem;
				height: 28rem;
			}
			h3 {
				margin-top: 20px;
				.bold;
				text-transform: uppercase;
				color:  #777777;
				font-size: 1.8rem;
			}

			.inf {
				margin-left: 1rem;
				width: 240px;
				p {
					margin-top: 20px;
					color:  #555555;
					font-size: 1.4rem;
					.regular;
				}
				span {
					color:  #999999;
					font-size: 1.4rem;
					.regular;
					margin-top: 20px;
					display: block;
				}
			}
		}
	}
}
// Section PORTFOLIO//////////////
section#portfolio {
	.wrapper {
		max-width: 100%;
	}
	.row {
		display: flex;
		flex-wrap: wrap;
	}
	.item {
		position: relative;
		z-index: 5;
		width: 25%;
		img {
			max-width: 100%;
		}
	}
	.wrap {
	  position: absolute;
	  z-index: 10;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background: #5465de;
	  background-position: center;
	  opacity: 0.7;
	  width: 100%;
	  height: 100%;
	  a {
	  	border-radius: 50%;
	  	display: block;
	  	top: 40%;
	  	left: 45%;
	  	position: relative;
	  	width: 5.7rem;
		height: 5.7rem;
		background-color: #fff;
	  }
	  i {
	  	margin-top: 1.7rem;
	  	margin-left: 1.7rem;
	  	font-size: 2rem;
	  	color: #5b6cec;
	  } 
	}
}
///////SECTION ABOUT//////////////////////
section#about {
	min-height: 500px;
	.row {
		margin-top: 100px;
		.row-flex();
	}
	.more {
		.col();
		.size(6);
		.size-sm(12);
	}
	.about-txt {
		h2 {
		color:  #5b6ceb;
		font-size: 3rem;
		.bold;
		}
		p {
			margin-top: 20px;
			width: 45.8rem;
			color:  #555555;
			font-size: 1.4rem;
			.regular;
		}
	}
	.about-slider {
		.item {
			position: relative;
			width: 57rem;
			height: 30rem;
			button {
				position: absolute;
				outline: none;
				background-color: #fff;
				border: none;
				width: 5rem;
				height: 5rem;
				border-radius: 50%;
			}
			.prev {
				top: 40%;
				left: -10px;
			}
			.next {
				top: 40%;
				right: -10px;
			}

		}
	}
}

///////SECTION ADVANTAGES//////////////////////
section#advantages{
	height: 100vh;
	min-height: 700px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
  	z-index: 5;
  	color: #fff;
  	.wrap {
	  position: absolute;
	  z-index: -1;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background: #5465de;
	  background-position: center;
	  opacity: 0.7;
	  width: 100%;
	  height: 100%;
	}
	.row {
		.row-flex();
		flex-wrap: wrap;
		justify-content: center;
	}
	.advantages-item {
		display: flex;
		flex-direction: column;
		padding-top: 70px;
		.col();
		.size(3);
		.size-md(4);
		.size-sm(6);
		justify-content: center;
		text-align: center;
		a {
			position: relative;
			display: block;
			margin: 0 auto;
			width: 70px;
			height: 70px;
			border: 1px solid #fff;
			border-radius: 50%;
		}
		img {
			top: 20px;
			left: 15px;
			position: absolute;
			background-position: top center;
		}
		h3 {
			font-size: 1.8rem;
			.bold;
			margin-top: 20px;
			margin-bottom: 10px;
		}
		p {
			font-size: 1.6rem;
			.regular;
			margin: auto 10px 10px 10px;
			align-self: flex-end;
		}
		.two {
			left: 13px;
		}
		.three {
			top: 10px;
			left: 12px;
		}
		.four {
			left: 20px;
			top: 16px;
		}
		.six {
			left: 27px;
			top: 12px;
		}
		.seven {
			left: 10px;
			top: 19px;
		}
		.eight {
			left: 20px;	
		}
	}
}
