@import "project.less";
@import "smart-grid.less";

.reset();

.wrapper{
    .wrapper();
}

///////////FONTS/////////////////////////////
.regular {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.italic {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: italic;
}
.bold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.semibold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.champ {
	font-family:'Champagne & Limousines Bold';
	font-weight:normal;
}
.proxi {
	font-family: 'ProximaNova-Extrabld';
	font-weight: normal;
}

.script {
	font-family: 'Freestyle Script Normal', arial;
	font-weight: normal;
}


